<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>悬浮球</title>
  <link rel="stylesheet" href="index.css" />
</head>

<body>
  <div id="app">
    <div class="warp" @mouseup="handleMouseUp" @mousedown="handleMouseDown" @mouseenter="showMore"
      @mouseleave="hideMore">
      <!-- <transition name="fade"> -->
        <div class="main-container" :style="{opacity: opacity}">
          <div class="text" :style="{'display': pointDisplay, 'background-color': pointColor}">
            <span>{{count[1] > 0 ? count[1] : count[0] }}</span>
          </div>
          <img draggable="false" :src="pic" style="transform: scale(0.45);">
          <!-- <div class="finish" :style="{'right': progress, 'background-color': mainColor}"></div> -->
        </div>
        <!-- <div v-if="isNotMore" class="naxida">
          <img src="../../assets/nxd.png">
        </div> -->
        <div class="son-container">
          <div class="son-item" :style="{'background-color': mainColor}" @click="showTodo">
            <img draggable="false" src="../../assets/time.png" alt="待办">
          </div>
          <div class="son-item" :style="{'background-color': mainColor}">
            <img draggable="false" src="../../assets/edit.png" alt="随笔">
          </div>
          <div class="son-item" :style="{'background-color': mainColor}" @click="showEssay">
            <img draggable="false" src="../../assets/light.png" alt="笔记">
          </div>
        </div>
      <!-- </transition> -->
    </div>
  </div>
  <script src="./index.js"></script>
</body>

</html>
