html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  padding: 0;
  margin: 0;
  color: white;
  user-select: none;
}
div {
  box-sizing: border-box;
}
#app {
  /* width: 80px;
  height: 30px; */
  /* width: 200px;
  height: 347px;
  overflow: hidden; */
}
.warp {
  /* width: 200px;
  height: 347px; */
  width: 80px;
  height: 80px;
  position: relative;
  /* overflow: hidden; */
}
.naxida img {
  width: 200px;
  height: 347px;
}

.main-container {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  /* border: 3px solid #333; */
  font-weight: bold;
  position: absolute;
  overflow: hidden;
  /* opacity: 06; */
  /* display: none; */
}
.text {
  /* background-color: var(--main-color); */
  height: 22px;
  width: 22px;
  color: #333;
  border-radius: 11px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 16px;
  /* display: var(--point-display); */
  justify-content: center;
  align-items: center;
}
.finish {
  position: absolute;
  width: 80px;
  height: 100%;
  background-color: var(--main-color);
  /* right: 50%; */
}

.son-container {
  position: absolute;
  top: 25px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* background-color: green; */
  height: 30px;
  width: 80px;
  font-size: 12px;
}
.son-item {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: var(--main-color);
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4px;
  opacity: 0;
}

.son-item:nth-child(1) {
  left: 29px;
}
.son-item:nth-child(2) {
  left: 29px;
}
.son-item:nth-child(3){
  right: 29px;
}

.son-item img {
  height: 12px;
  width: 12px;
}

.fade-enter-active {
  transition: opacity 0.2s;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-leave-to {
  opacity: 0;
}







/* 动画部分 */


@keyframes midRun {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes midBackRun {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rightRun {
  0% {
    right: 29px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: -10px;
  }
}

@keyframes rightBackRun {
  0% {
    right: -10px;
    opacity: 1;
  }
  100% {
    right: 29px;
    opacity: 0;
  }
}


@keyframes leftRun {
  0% {
    left: 29px;
    opacity: 0;
  }
  100% {
    left: -10px;
    opacity: 1;
  }
}

@keyframes leftRunBack {
  0% {
    left: -10px;
    opacity: 1;
  }
  100% {
    left: 29px;
    opacity: 0;
  }
}

.rightRunAm {
  animation: rightRun 0.5s forwards;
}

.rightRunBackAm {
  animation: rightBackRun 0.5s forwards;
}

.midRunAm {
  animation: midRun 0.5s forwards;
}

.midRunBackAm {
  animation: midBackRun 0.5s forwards;
}

.leftRunAm {
  animation: leftRun 0.5s forwards;
}
.leftRunBackAm {
  animation: leftRunBack 0.5s forwards;
}

@keyframes ballHide {
  0% {
    background-color: var(--main-color);
    transform: scale(1);
  }
  70% {
    opacity: 0.6;
  }
  100% {
    transform: scale(0.25);
    opacity: 0;
    display: none;
    background-color: #49CE95;
  }
}

@keyframes ballShow {
  0% {
    opacity: 1;
    transform: scale(0.25);
    display: flex;
  }
  70% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.main-container-hover {
  animation: ballHide 0.5s forwards;
}

.main-container-not-hover {
  animation: ballShow 0.5s forwards;
}
